n8n/vulnforge_workflow.json
{
  "name": "VulnForge Daily Scan",
  "nodes": [
    {
      "parameters": {
        "rule": {
          "interval": [
            {
              "field": "cronExpression",
              "expression": "0 2 * * *"
            }
          ]
        }
      },
      "id": "a1b2c3d4-e5f6-7890-abcd-ef1234567890",
      "name": "Schedule Trigger",
      "type": "n8n-nodes-base.scheduleTrigger",
      "typeVersion": 1.1,
      "position": [200, 300]
    },
    {
      "parameters": {
        "command": "mkdir -p /reports/raw && nuclei -u http://dvwa:80 -t /home/node/nuclei-templates -o /reports/raw/nuclei_dvwa.json -json -silent -timeout 30; nuclei -u http://juiceshop:3000 -t /home/node/nuclei-templates -o /reports/raw/nuclei_juiceshop.json -json -silent -timeout 30; nuclei -u http://webgoat:8080 -t /home/node/nuclei-templates -o /reports/raw/nuclei_webgoat.json -json -silent -timeout 30; echo scans_complete"
      },
      "id": "b2c3d4e5-f6a7-8901-bcde-f12345678901",
      "name": "Run Nuclei Scans",
      "type": "n8n-nodes-base.executeCommand",
      "typeVersion": 1,
      "position": [440, 300]
    },
    {
      "parameters": {
        "jsCode": "const fs = require('fs');\n\nfunction parseNucleiFile(path) {\n  try {\n    const content = fs.readFileSync(path, 'utf8');\n    return content.trim().split('\\n')\n      .filter(l => l.trim())\n      .map(l => JSON.parse(l));\n  } catch (e) {\n    return [];\n  }\n}\n\nfunction countSeverities(findings) {\n  const counts = { critical: 0, high: 0, medium: 0, low: 0, info: 0 };\n  for (const f of findings) {\n    const sev = (f.info && f.info.severity ? f.info.severity : 'info').toLowerCase();\n    if (counts[sev] !== undefined) counts[sev]++;\n  }\n  return counts;\n}\n\nconst targets = [\n  { name: 'DVWA',      file: '/reports/raw/nuclei_dvwa.json' },\n  { name: 'JuiceShop', file: '/reports/raw/nuclei_juiceshop.json' },\n  { name: 'WebGoat',   file: '/reports/raw/nuclei_webgoat.json' },\n];\n\nconst results = targets.map(t => {\n  const findings = parseNucleiFile(t.file);\n  const counts = countSeverities(findings);\n  const score = counts.critical * 10 + counts.high * 7 + counts.medium * 4 + counts.low * 1;\n  return { target: t.name, counts, score, total: findings.length };\n});\n\nreturn results.map(r => ({ json: r }));"
      },
      "id": "c3d4e5f6-a7b8-9012-cdef-123456789012",
      "name": "Parse Results",
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [680, 300]
    },
    {
      "parameters": {
        "mode": "runOnceForAllItems",
        "jsCode": "const items = $input.all();\nconst date = new Date().toISOString().split('T')[0];\n\nconst riskEmoji = (score) => {\n  if (score >= 20) return '🔴';\n  if (score >= 10) return '🟠';\n  if (score >= 1)  return '🟡';\n  return '🟢';\n};\n\nconst fields = items.map(item => {\n  const { target, counts, score } = item.json;\n  return {\n    name: `${riskEmoji(score)} ${target}  (score: ${score})`,\n    value: `C:${counts.critical}  H:${counts.high}  M:${counts.medium}  L:${counts.low}  I:${counts.info}  |  total findings: ${item.json.total}`,\n    inline: false\n  };\n});\n\nconst totalScore = items.reduce((sum, i) => sum + i.json.score, 0);\nconst color = totalScore >= 20 ? 15158332 : totalScore >= 10 ? 15105570 : totalScore >= 1 ? 16312092 : 5763719;\n\nreturn [{\n  json: {\n    embeds: [{\n      title: `VulnForge Scan Report — ${date}`,\n      description: `Combined score across all targets: **${totalScore}**`,\n      color,\n      fields,\n      footer: { text: 'Nuclei · n8n · VulnForge' },\n      timestamp: new Date().toISOString()\n    }]\n  }\n}];"
      },
      "id": "d4e5f6a7-b8c9-0123-defa-234567890123",
      "name": "Format Discord Message",
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [920, 300]
    },
    {
      "parameters": {
        "method": "POST",
        "url": "={{ $vars.DISCORD_WEBHOOK_URL }}",
        "sendBody": true,
        "contentType": "raw",
        "rawContentType": "application/json",
        "body": "={{ JSON.stringify($json) }}"
      },
      "id": "e5f6a7b8-c9d0-1234-efab-345678901234",
      "name": "Discord Notify",
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.2,
      "position": [1160, 300]
    }
  ],
  "connections": {
    "Schedule Trigger": {
      "main": [
        [{"node": "Run Nuclei Scans", "type": "main", "index": 0}]
      ]
    },
    "Run Nuclei Scans": {
      "main": [
        [{"node": "Parse Results", "type": "main", "index": 0}]
      ]
    },
    "Parse Results": {
      "main": [
        [{"node": "Format Discord Message", "type": "main", "index": 0}]
      ]
    },
    "Format Discord Message": {
      "main": [
        [{"node": "Discord Notify", "type": "main", "index": 0}]
      ]
    }
  },
  "active": false,
  "settings": {
    "executionOrder": "v1"
  }
}
