n8n/vulnforge_workflow.json
{
  "name": "VulnForge Daily Scan",
  "nodes": [
    {
      "parameters": {
        "rule": {
          "interval": [
            {
              "field": "cronExpression",
              "expression": "0 2 * * *"
            }
          ]
        }
      },
      "id": "a1b2c3d4-e5f6-7890-abcd-ef1234567890",
      "name": "Schedule Trigger",
      "type": "n8n-nodes-base.scheduleTrigger",
      "typeVersion": 1.1,
      "position": [200, 300]
    },
    {
      "parameters": {
        "command": "bash /vulnforge/scanners/scan_nuclei.sh"
      },
      "id": "n1-nuclei-scan",
      "name": "Run Nuclei Scans",
      "type": "n8n-nodes-base.executeCommand",
      "typeVersion": 1,
      "position": [440, 200]
    },
    {
      "parameters": {
        "command": "bash /vulnforge/scanners/scan_zap.sh"
      },
      "id": "n2-zap-scan",
      "name": "Run ZAP Scans",
      "type": "n8n-nodes-base.executeCommand",
      "typeVersion": 1,
      "position": [440, 400]
    },
    {
      "parameters": {
        "mode": "waitForAll",
        "output": "separate"
      },
      "id": "n3-merge",
      "name": "Wait For Both Scanners",
      "type": "n8n-nodes-base.merge",
      "typeVersion": 3,
      "position": [680, 300]
    },
    {
      "parameters": {
        "command": "DATE=$(date +%Y-%m-%d)\npython3 /vulnforge/scanners/parser.py --target dvwa      --date $DATE --out /vulnforge/reports\npython3 /vulnforge/scanners/parser.py --target juiceshop --date $DATE --out /vulnforge/reports\npython3 /vulnforge/scanners/parser.py --target webgoat   --date $DATE --out /vulnforge/reports"
      },
      "id": "n4-parse",
      "name": "Run Parser",
      "type": "n8n-nodes-base.executeCommand",
      "typeVersion": 1,
      "position": [920, 300]
    },
    {
      "parameters": {
        "mode": "runOnceForAllItems",
        "jsCode": "const stdout = $input.first().json.stdout || '';\nconst date  = new Date().toISOString().split('T')[0];\n\n// Extract the Discord: lines emitted by parser.py\nconst discordLines = stdout\n  .split('\\n')\n  .filter(l => l.startsWith('Discord: '))\n  .map(l => l.replace('Discord: ', ''));\n\n// Pick embed colour from the worst severity found across all targets\nconst pickColor = (lines) => {\n  if (lines.some(l => l.includes('Critical:'))) return 15158332; // red\n  if (lines.some(l => l.includes('High:')))     return 15105570; // orange\n  if (lines.some(l => l.includes('Medium:')))   return 16312092; // yellow\n  return 5763719;                                                 // green\n};\n\nconst description = discordLines.length\n  ? discordLines.join('\\n')\n  : 'No findings reported.';\n\nreturn [{\n  json: {\n    embeds: [{\n      title: `VulnForge Scan Report — ${date}`,\n      description,\n      color: pickColor(discordLines),\n      footer: { text: 'OWASP ZAP + Nuclei · VulnForge' },\n      timestamp: new Date().toISOString()\n    }]\n  }\n}];"
      },
      "id": "n5-format",
      "name": "Format Discord Message",
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [1160, 300]
    },
    {
      "parameters": {
        "method": "POST",
        "url": "={{ $env.DISCORD_WEBHOOK_URL }}",
        "sendBody": true,
        "contentType": "raw",
        "rawContentType": "application/json",
        "body": "={{ JSON.stringify($json) }}"
      },
      "id": "n6-discord",
      "name": "Discord Notify",
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.2,
      "position": [1400, 300]
    }
  ],
  "connections": {
    "Schedule Trigger": {
      "main": [
        [
          {"node": "Run Nuclei Scans", "type": "main", "index": 0},
          {"node": "Run ZAP Scans",    "type": "main", "index": 0}
        ]
      ]
    },
    "Run Nuclei Scans": {
      "main": [[{"node": "Wait For Both Scanners", "type": "main", "index": 0}]]
    },
    "Run ZAP Scans": {
      "main": [[{"node": "Wait For Both Scanners", "type": "main", "index": 1}]]
    },
    "Wait For Both Scanners": {
      "main": [[{"node": "Run Parser", "type": "main", "index": 0}]]
    },
    "Run Parser": {
      "main": [[{"node": "Format Discord Message", "type": "main", "index": 0}]]
    },
    "Format Discord Message": {
      "main": [[{"node": "Discord Notify", "type": "main", "index": 0}]]
    }
  },
  "active": false,
  "settings": {
    "executionOrder": "v1"
  }
}
